@page "/productList"
@using System.Text.Json
@using WebShopShared
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory

<h3>Products List</h3>

@foreach (var product in productList)
{
    <div class="card">
        <a href="/ProductDetails/@product.ID"><img src="@product?.Image" width="250" height="300"></a>
        <p>@product?.Category</p>
        <a href="/ProductDetails/@product?.ID"><p>@product?.Title</p></a>
        <button>Add to Cart</button>
    </div>
}

@code {
    private List<ProductDTO>? productList = new();

    protected override async Task OnInitializedAsync()
    {
        using (HttpClient? client = HttpClientFactory.CreateClient("FakeStoreApi"))
        {
            var options = new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                };

            var json = await client.GetStringAsync("/products?limit=10");
            productList = JsonSerializer.Deserialize<List<ProductDTO>>(json, options);
        }
    }
}