@page "/productList"
@using System.Text.Json
@using WebShopShared
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory

<h3>Products List</h3>

<button @onclick="async() => await FetchData()">Get All Products</button>
@foreach (var product in productList)
{
    <div class="card">
        <a href="/ProductDetails/@product.ID"><img src="@product?.Image" width="250" height="300"></a>
        <p>@product?.Category</p>
        <p>@product?.Title</p>
    </div>

    <div>
        @* Missing functionality *@
        <button>Product Page</button>

        <button>Add to Cart</button>
    </div>
}

@code {
    private List<ProductDTO>? productList = new();
    private async Task FetchData()
    {
        using (HttpClient? client = HttpClientFactory.CreateClient("FakeStoreApi"))
        {
            var options = new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                };

            var json = await client.GetStringAsync("/products?limit=10");
            productList = JsonSerializer.Deserialize<List<ProductDTO>>(json, options);
        }
    }
}