@page "/productDetails/{Id:int}"
@using WebShopShared
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory

<h3>Api</h3>

<div class="card">
    <img src="@api?.Image" width="250" height="300">
    <p>api?.ID</p>
    <p>@api?.Category</p>
    <p>@api?.Title</p>
    <p>@api?.Description</p>
    <p>@api?.Price</p>
    <button>Add to Cart</button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private ProductDTO? api;

    protected override async Task OnInitializedAsync()
    {
        using (HttpClient? client = HttpClientFactory.CreateClient("FakeStoreApi"))
        {
            api = await client.GetFromJsonAsync<ProductDTO>($"/products/{Id}");
        }
    }
}
