@page "/product"
@using WebShopShared
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory

<h3>Api</h3>

<button @onclick="async() => await FetchData()">Get Product</button>

<div class="card">
    <img src="@api?.Image" width="250" height="400">
    <p>@api?.Category</p>
    <p>@api?.Title</p>
    <p>@api?.Description</p>
    <p>@api?.Price</p>
</div>


@code {
    private ApiDTO? api;
    private async Task FetchData()
    {
        using (HttpClient? client = HttpClientFactory.CreateClient("FakeStoreApi"))
        {
            api = await client.GetFromJsonAsync<ApiDTO>("/products/1");
        }
    }
}
