@page "/localproducts"
@using WebShopShared;
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory

<h3>Local Products</h3>

<button @onclick="async() => await FetchData()">Get Products</button>

<p>@products?.Name</p>
<p>@products?.Price</p>

@code {
    private ProductDTO? products;
    private async Task FetchData()
    {
        using (HttpClient? client = HttpClientFactory.CreateClient("MinimalApi"))
        {
            products = await client.GetFromJsonAsync<ProductDTO>("/products/2");
        }
    }
}