<div class="top-row">
    <div class="container">
        <a class="brand" href="">WebShopFullstackProject</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="menu-toggle" />

<div class="nav-scrollable" onclick="document.querySelector('.menu-toggle').click()">
    <nav class="nav-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="productList">
                <span class="icon icon-products"></span> Product List
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="product">
                <span class="icon icon-products"></span> Products
            </NavLink>
        </div>
    </nav>
</div>
